@layout('layouts/main')
@set('title', 'Accueil')

@section('body')

    <h1>Menu principal</h1>
    @if(auth.isLoggedIn)
        <p> Hello {{ auth.user.name }} </p>
    @endif
    <div class="main-menu">
    @each(id in ids)
        <button id="compte{{id}}" onclick="window.location.href='compte/{{id}}'">compte {{id}}</button>
    @end
    </div>

@end

